doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title World of Fun | #{title}
    link(href="./styles/style.css", rel="stylesheet")
  body
    header.header
        img(src="/images/logo.png", alt="WoF")
    section.mainCategory
        ul
            each val in categories
                li 
                    a(href="/"+val.catName+"") #{val.catName}

    section.subCategory
        ul 
            each val in subcategories.subCategories
                li
                    a(href="/"+subcategories.catName+"/"+val.subCatName+"") #{val.subCatName}
    
    main.mainContainer
        section.previewWrapper 
            .preview 
                .prevThumb 
                    img(src="https://via.placeholder.com/150", alt=""+content.name+"")
                .prevNameCta 
                    .prevName 
                        h3 #{content.name}
                    .prevCta 
                        a(href="#") Download
                .prevDesc 
                    p #{content.description}
                .prevScreenshots 
                    //- for loop